project_id                      = "financial-tools"
region                          = "australia-southeast1"
artifact_registry_repository_id = "tax-calculator"
cloud_run_service_name          = "tax-calculator-frontend"
container_image                 = "australia-southeast1-docker.pkg.dev/financial-tools/tax-calculator/tax-calculator:latest"
